# SPDX-FileCopyrightText: Contributors to the Power Grid Model project <powergridmodel@lfenergy.org>
#
# SPDX-License-Identifier: MPL-2.0

* text
 
*.ipynb -text
 
*.py   text eol=lf
*.pyi  text eol=lf
*.sh   text eol=lf
*.md   text eol=lf
*.c    text eol=lf
*.h    text eol=lf
*.cpp  text eol=lf
*.hpp  text eol=lf
