# SPDX-FileCopyrightText: 2022 Contributors to the Power Grid Model project <dynamic.grid.calculation@alliander.com>
#
# SPDX-License-Identifier: MPL-2.0

include PYPI_VERSION
include VERSION
recursive-include power_grid_model_c *

# the following is needed for running tests in conda recipe
recursive-include tests/unit *
recursive-include tests/data *
