# SPDX-FileCopyrightText: 2022 Contributors to the Power Grid Model project <dynamic.grid.calculation@alliander.com>
#
# SPDX-License-Identifier: MPL-2.0

sphinx==4.5.0
sphinx_rtd_theme==1.0.0
readthedocs-sphinx-search==0.1.2
myst-parser==0.18.0

# For building library
setuptools
wheel
cython
oldest-supported-numpy
requests
pybuild-header-dependency