# SPDX-FileCopyrightText: Contributors to the Power Grid Model project <powergridmodel@lfenergy.org>
#
# SPDX-License-Identifier: MPL-2.0

# GitHub Action that uses
#     mypy and ruff to reformat the Python code in an incoming pull request.
#     clang-format to reformat the C++ code in an incoming pull request.
# If all code in the pull request is compliant with Black and clang-format then this Action
# does nothing. Otherwise, it will print the files which need to be reformatted and raise an error.

name: Check Code Quality

on:
  # run pipeline from another workflow
  workflow_call:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-code-quality
  cancel-in-progress: true

jobs:
  check-code-quality:

    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install most linters from uv
        run: |
          CC=gcc-14 CXX=g++-14 uv sync --group lint

      - name: Run mypy
        run: |
          uv run mypy .

      - name: Run ruff
        run: |
          uv run ruff check .
          uv run ruff format .
          git restore README.md

      - name: Run clang-format
        run: |
          find . -regex '.*\.\(h\|c\|cpp\|hpp\|cc\|cxx\)' -exec uv run clang-format -style=file -i {} \;

      - name: Run cmake-linter
        run: |
          uv run gersemi -i --warnings-as-errors src/ tests/ cmake/

      - name: Install and run markdownlint
        run: |
          npm install -g markdownlint-cli@0.47.0
          echo "Running markdownlint"
          markdownlint --fix .

      - name: If needed raise error
        run: |
          if [[ `git status --porcelain --untracked-files=no` ]]; then
            echo "Formatting not correct! See below the files which need to be reformatted!"
            git status --porcelain --untracked-files=no
            exit 1
          fi

      - name: Check generated code
        if: success()
        run: |
          uv pip install -r code_generation/requirements.txt
          uv run code_generation/code_gen.py
          if [ -n "$(git status --porcelain)" ]; then
            echo
            echo "The following files are outdated or were manually updated:"
            git status --porcelain
            exit 1
          else
            echo
            echo "All the generated files are up to date."
          fi

      - name: Check test-workflow.yml
        if: success()
        run: |
          git fetch origin main
          DIFF=$(git diff origin/main -- .github/workflows/test-workflow.yml)

          if [ -n "$DIFF" ]; then
            echo "The test-workflow.yml file has changed from main."
            echo "Please revert test-workflow.yml to its original state after testing is completed."
            echo "$DIFF"
            exit 1
          else
            echo "The test-workflow.yml file matches main."
          fi
