# SPDX-FileCopyrightText: Contributors to the Power Grid Model project <powergridmodel@lfenergy.org>
#
# SPDX-License-Identifier: MPL-2.0

name: Build and Test C++ and Python

# Controls when the workflow will run
on:
  # run pipeline from another workflow
  workflow_call:
  # run this workflow manually from the Actions tab
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-build-reproducibility
  cancel-in-progress: true

jobs:
  check-power-grid-model-c-linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        compiler: [gcc, clang]
        include:
          - c_compiler: gcc-14
            cxx_compiler: g++-14
          - c_compiler: clang-18
            cxx_compiler: clang++-18

    env:
      CMAKE_PREFIX_PATH: /home/linuxbrew/.linuxbrew
      PRESET: ci-${{ matrix.compiler }}-${{ matrix.build-option }}
      HOMEBREW_FORCE_BREWED_CURL: 1

    steps:
      - uses: actions/checkout@v6
      - name: Install packages
        run: |
          sudo apt-get update
          sudo apt-get install -y ninja-build ${{matrix.c_compiler}} ${{matrix.cxx_compiler}}

      - name: Enable brew
        run: |
          echo "/home/linuxbrew/.linuxbrew/bin:/home/linuxbrew/.linuxbrew/sbin" >> $GITHUB_PATH
      - name: Install C++ dependencies
        run: |
          brew update
          brew install boost eigen nlohmann-json msgpack-cxx doctest

      - name: Build twice
        run: |
          CC=${ matrix.c_compiler} CXX=${ matrix.cxx_compiler} cmake -S . -B build -DCMAKE_BUILD_TYPE=Release -G Ninja
          cmake --build build --verbose -j1
          mv build build_1
          CC=${ matrix.c_compiler} CXX=${ matrix.cxx_compiler} cmake -S . -B build -DCMAKE_BUILD_TYPE=Release -G Ninja
          cmake --build build --verbose -j1
          mv build build_2

      - name: Compare builds
        run: |
          diff -r build_1 build_2

  build-cpp-test-windows:
    runs-on: windows-latest
    strategy:
      matrix:
        build-option: [debug, release]
        compiler: [msvc, clang-cl]

    env:
      PRESET: ${{ matrix.compiler }}-${{ matrix.build-option }}

    steps:
      - uses: actions/checkout@v6

      - name: Activate conda
        uses: conda-incubator/setup-miniconda@v3 # install miniforge instead
        with:
          miniforge-version: latest
          channels: conda-forge
          conda-remove-defaults: "true"

      - name: List conda
        run: |
          conda info
          conda list

      - name: Install conda environment
        run: |
          conda create --yes -p C:\conda_envs\cpp_pkgs -c conda-forge libboost-headers eigen nlohmann_json msgpack-cxx doctest

      - uses: ./.github/actions/enable-msvc
        if: runner.os == 'Windows'

      - name: Build twice
        run: |
          cmake --preset ci-msvc-reproducible; if(!$?) { Exit $LASTEXITCODE }
          cmake --build --preset ci-msvc-reproducible --verbose -j 1; if(!$?) { Exit $LASTEXITCODE }
          cmake --build --preset ci-msvc-reproducible --verbose -j 1 --target install; if(!$?) { Exit $LASTEXITCODE }
          mv install/ci-msvc-reproducible install/ci-msvc-reproducible-1; if(!$?) { Exit $LASTEXITCODE }
          cmake --preset ci-msvc-reproducible; if(!$?) { Exit $LASTEXITCODE }
          cmake --build --preset ci-msvc-reproducible --verbose -j 1; if(!$?) { Exit $LASTEXITCODE }
          cmake --build --preset ci-msvc-reproducible --verbose -j 1 --target install; if(!$?) { Exit $LASTEXITCODE }
          mv install/ci-msvc-reproducible install/ci-msvc-reproducible-2; if(!$?) { Exit $LASTEXITCODE }

      - name: Compare builds
        run: |
          $hash1 = Get-ChildItem -Path install/ci-msvc-reproducible-1/bin/power_grid_model_c.dll -Recurse -File | Get-FileHash | Sort-Object Path
          $hash2 = Get-ChildItem -Path install/ci-msvc-reproducible-2/bin/power_grid_model_c.dll -Recurse -File | Get-FileHash | Sort-Object Path
          Compare-Object $hash1 $hash2 -Property Hash, Path -PassThru | ForEach-Object { if ($_.SideIndicator) { Write-Error "Build mismatch detected"; Exit 1 } }
          if ($LASTEXITCODE -eq 1) { Exit 1 }
          Write-Host "Builds are identical"

  build-cpp-test-macos:
    runs-on: macos-latest
    strategy:
      matrix:
        build-option: [debug, release]
    env:
      CMAKE_PREFIX_PATH: /usr/local
      PRESET: ci-clang-${{ matrix.build-option }}

    steps:
      - uses: actions/checkout@v6

      - name: Set up XCode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable

      - name: Install cpp dependencies
        run: |
          brew update
          brew install ninja boost eigen nlohmann-json msgpack-cxx doctest

      - name: Build twice
        run: |
          CC=${ matrix.c_compiler} CXX=${ matrix.cxx_compiler} cmake -S . -B build -DCMAKE_BUILD_TYPE=Release -G Ninja
          cmake --build build --verbose -j1
          mv build build_1
          CC=${ matrix.c_compiler} CXX=${ matrix.cxx_compiler} cmake -S . -B build -DCMAKE_BUILD_TYPE=Release -G Ninja
          cmake --build build --verbose -j1
          mv build build_2

      - name: Compare builds
        run: |
          diff -r build_1 build_2
