# SPDX-FileCopyrightText: 2022 Contributors to the Power Grid Model project <dynamic.grid.calculation@alliander.com>
#
# SPDX-License-Identifier: MPL-2.0


# This is a basic workflow to help you get started with Actions

name: Build and Test C++ and Python

# Controls when the workflow will run
on:
  # run pipeline on push event of main or release branch
  push:
    branches:
      - main
      - 'release/**'
  # run pipeline on pull request
  pull_request:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:

  build-cpp-test-linux:
    runs-on: ubuntu-latest
    container: ghcr.io/alliander-opensource/power-grid-model-build-env:latest
    strategy:
      matrix:
        build-option: [ Debug, Release ]
        sparse-solver: [ EIGEN, MKL, MKL_RUNTIME ]

    steps:
      - uses: actions/checkout@v3

      - name: Run build script
        run: ./build.sh  ${{ matrix.build-option }} ${{ matrix.sparse-solver }}


  build-cpp-test-windows:
    runs-on: windows-latest
    strategy:
      matrix:
        build-option: [ Debug, Release ]
        sparse-solver: [ EIGEN, MKL, MKL_RUNTIME ]
    env:
      MKL_INCLUDE: C:\conda_envs\cpp_pkgs\Library\include
      MKL_LIB: C:\conda_envs\cpp_pkgs\Library\lib

    steps:
      - uses: actions/checkout@v3

      - name: Activate conda
        run: |
          & "$env:CONDA\condabin\conda" init

      - name: Install conda environment
        run: |
          conda create --yes -p C:\conda_envs\cpp_pkgs -c conda-forge boost-cpp eigen nlohmann_json mkl mkl-devel mkl-include catch2

      - name: Build and test
        run: |
          $vsPath = &(Join-Path ${env:ProgramFiles(x86)} '\Microsoft Visual Studio\Installer\vswhere.exe') -property installationpath
          Import-Module (Join-Path $vsPath 'Common7\Tools\Microsoft.VisualStudio.DevShell.dll')
          Enter-VsDevShell -VsInstallPath $vsPath -SkipAutomaticLocation -DevCmdArguments '-arch=x64 -host_arch=x64'
          $env:Path += ";C:\conda_envs\cpp_pkgs\Library\bin"
          mkdir cpp_build_${{ matrix.build-option }}_${{ matrix.sparse-solver }}
          cd cpp_build_${{ matrix.build-option }}_${{ matrix.sparse-solver }}
          # generate cmake cache
          cmake .. `
            -G "Ninja" `
            -DCMAKE_BUILD_TYPE=${{ matrix.build-option }} `
            -DPOWER_GRID_MODEL_SPARSE_SOLVER=${{ matrix.sparse-solver }} `
            -DCMAKE_PREFIX_PATH=C:\conda_envs\cpp_pkgs\Library `
            -DPOWER_GRID_MODEL_BUILD_BENCHMARK=1
          # build
          cmake --build . --verbose
          # test
          .\tests\cpp_unit_tests\power_grid_model_unit_tests.exe


  build-cpp-test-macos:
    runs-on: macos-latest
    strategy:
      matrix:
        build-option: [ Debug, Release ]
        sparse-solver: [ EIGEN, MKL, MKL_RUNTIME ]
    env:
      CC: clang
      CXX: clang++
      MKL_INCLUDE: /usr/local/include
      MKL_LIB: /usr/local/lib
      CMAKE_PREFIX_PATH: /usr/local

    steps:
      - uses: actions/checkout@v3

      - name: Install cpp dependencies
        run: |
          brew install ninja boost eigen nlohmann-json catch2
          sudo pip3 install mkl mkl-devel mkl-include

      - name: Build and test
        run: |
          # environment
          export LD_LIBRARY_PATH=${MKL_LIB}:${LD_LIBRARY_PATH}
          # bash
          ./build.sh  ${{ matrix.build-option }} ${{ matrix.sparse-solver }}


  build-and-test-python:
    strategy:
      matrix:
        platform: [ linux, macos, windows ]
        include:
          - platform: linux
            os: ubuntu-latest
            cc: gcc
            cxx: g++
            boost:
            eigen:
            cibw_build: "cp*-manylinux_x86_64 cp*-manylinux_aarch64"
            test_cmd: >
              pytest {package}/tests &&
              LD_LIBRARY_PATH= pytest {package}/tests
            archs: "x86_64 aarch64"
          - platform: macos
            os: macos-latest
            cc: clang
            cxx: clang++
            boost: /usr/local/include
            eigen: /usr/local/include/eigen3
            cibw_build: cp*-macosx_*
            archs: "x86_64 arm64"
            test_cmd: >
              pytest {package}/tests &&
              LD_LIBRARY_PATH=/usr/local/lib:${LD_LIBRARY_PATH} pytest {package}/tests
          - platform: windows
            os: windows-latest
            cc:
            cxx:
            boost: C:\conda_envs\cpp_pkgs\Library\include
            eigen: C:\conda_envs\cpp_pkgs\Library\include\eigen3
            cibw_build: cp*-win_amd64
            archs: AMD64
            test_cmd: pytest {package}/tests

    runs-on: ${{ matrix.os }}
    needs: [build-cpp-test-linux, build-cpp-test-windows, build-cpp-test-macos]

    env:
      CC: ${{ matrix.cc }}
      CXX: ${{ matrix.cxx }}
      BOOST_INCLUDE: ${{ matrix.boost }}
      EIGEN_INCLUDE: ${{ matrix.eigen }}
      CIBW_BUILD_VERBOSITY: 1
      CIBW_BUILD_FRONTEND: "build"
      CIBW_BUILD: ${{ matrix.cibw_build }}
      CIBW_ARCHS: ${{ matrix.archs }}
      CIBW_TEST_REQUIRES: pytest pytest-cov
      CIBW_TEST_COMMAND: ${{ matrix.test_cmd }}
      # Skip trying to test arm64 builds on Intel Macs
      CIBW_TEST_SKIP: "*-macosx_arm64 *-macosx_universal2:arm64"
      CIBW_MANYLINUX_X86_64_IMAGE: ghcr.io/alliander-opensource/power-grid-model-build-env
      CIBW_MANYLINUX_AARCH64_IMAGE: ghcr.io/alliander-opensource/power-grid-model-build-env-arm64
      CIBW_ENVIRONMENT_PASS_LINUX: GITHUB_SHA GITHUB_REF GITHUB_RUN_NUMBER
      CIBW_BEFORE_ALL_MACOS: >
        which clang++ &&
        clang++ --version &&
        brew install boost eigen &&
        sudo pip3 install mkl mkl-devel mkl-include
      MACOSX_DEPLOYMENT_TARGET: 10.15
      CIBW_BEFORE_ALL_WINDOWS : >
        conda create --yes -p C:\conda_envs\cpp_pkgs -c conda-forge boost-cpp eigen mkl

    steps:
      - uses: actions/checkout@v3

      - name: Set up QEMU
        if: matrix.platform == 'linux'
        uses: docker/setup-qemu-action@v2

      - name: Activate conda for windows
        if: matrix.platform == 'windows'
        run: |
          & "$env:CONDA\condabin\conda" init

      - name: Build wheels
        uses: pypa/cibuildwheel@2.5.0

      - name: Keep wheel files
        uses: actions/upload-artifact@v3
        with:
          name: wheelhouse
          path: ./wheelhouse/*.whl
      
      - name: Keep version
        uses: actions/upload-artifact@v3
        if: matrix.platform == 'linux'
        with:
          name: version
          path: PYPI_VERSION


  publish-wheels:
    needs: build-and-test-python
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      TWINE_USERNAME: ${{ secrets.PYPI_USER }}
      TWINE_PASSWORD: ${{ secrets.PYPI_PASS }}

    steps:
      - uses: actions/checkout@v3

      - name: Setup python
        uses: actions/setup-python@v3
        with:
          python-version: '3.10'
          architecture: x64

      - uses: actions/download-artifact@v3
        with:
          name: wheelhouse
          path: wheelhouse
      
      - uses: actions/download-artifact@v3
        with:
          name: version
          path: .

      - name: List assets
        run: |
          ls ./wheelhouse/*.whl -al
          cat PYPI_VERSION
      
      - name: Get tag
        id: tag
        run: echo "::set-output name=tag::v$(cat PYPI_VERSION)"

      - name: Upload wheels
        if: (github.event_name == 'push') || (github.event_name == 'workflow_dispatch')
        run: |
          pip install twine
          echo "Publish to PyPI..."
          twine upload --verbose wheelhouse/*

      - name: Release
        uses: softprops/action-gh-release@v1
        if: (github.event_name == 'push') || (github.event_name == 'workflow_dispatch')
        with:
          files: |
            ./wheelhouse/*.whl
          tag_name: ${{ steps.tag.outputs.tag }}
          prerelease: ${{ contains(steps.tag.outputs.tag, 'rc') }}
          generate_release_notes: true
