# SPDX-FileCopyrightText: 2022 Contributors to the Power Grid Model project <dynamic.grid.calculation@alliander.com>
#
# SPDX-License-Identifier: MPL-2.0


# This is a basic workflow to help you get started with Actions

name: Build and Test C++ and Python

# Controls when the workflow will run
on:
  # run pipeline on push event of main or release branch
  push:
    branches:
      - main
      - 'release/**'
  # run pipeline on pull request
  pull_request:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build-cpp-test-linux:
    
    runs-on: ubuntu-latest
    container: ghcr.io/alliander-opensource/power-grid-model-build-env:latest
    strategy:
      matrix:
        build-option: [ Debug, Release ]
        sparse-solver: [ EIGEN, MKL, MKL_RUNTIME ]

    steps:
      - uses: actions/checkout@v2

      - name: Run build script
        run: ./build.sh  ${{ matrix.build-option }} ${{ matrix.sparse-solver }}

#      - name: Publish
#        if: github.event_name == 'push'
#        run: |
#          echo Publishing to ${TWINE_REPOSITORY_URL}
#          twine upload --verbose dist_upload/*

  build-cpp-test-windows:
    
    runs-on: windows-latest
    strategy:
      matrix:
        build-option: [ Debug, Release ]
        sparse-solver: [ EIGEN, MKL, MKL_RUNTIME ]
    env:
      MKL_INCLUDE: C:\conda_envs\cpp_pkgs\Library\include
      MKL_LIB: C:\conda_envs\cpp_pkgs\Library\lib

    steps:
      - uses: actions/checkout@v2

      - name: Activate conda
        run: |
          & "$env:CONDA\condabin\conda" init

      - name: Cache conda environments
        uses: actions/cache@v2
        id: cache
        env:
          cache-name: conda-envs-windows
        with:
          path: C:\conda_envs
          key: conda-envs-windows-6

      - name: Install conda environments
        if: steps.cache.outputs.cache-hit != 'true'
        run: .\.github\conda-windows.ps1

      - name: Build and test
        run: |
          $env:Path += ";C:\conda_envs\cpp_pkgs\Library\bin"
          mkdir cpp_build_${{ matrix.build-option }}_${{ matrix.sparse-solver }}
          cd cpp_build_${{ matrix.build-option }}_${{ matrix.sparse-solver }}
          # generate cmake cache
          cmake .. `
            -DPOWER_GRID_MODEL_SPARSE_SOLVER=${{ matrix.sparse-solver }} `
            -DCMAKE_PREFIX_PATH=C:\conda_envs\cpp_pkgs\Library `
            -DPOWER_GRID_MODEL_BUILD_BENCHMARK=1
          # build
          & "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Current\Bin\MSBuild.exe" .\ALL_BUILD.vcxproj -property:Configuration=${{ matrix.build-option }}
          # test
          .\tests\cpp_unit_tests\${{ matrix.build-option }}\power_grid_model_unit_tests.exe


  build-cpp-test-macos:
    
    runs-on: macos-latest
    strategy:
      matrix:
        build-option: [ Debug, Release ]
        sparse-solver: [ EIGEN, MKL, MKL_RUNTIME ]
    env:
      CC: clang
      CXX: clang++
      MKL_INCLUDE: /opt/cpp_pkgs/include
      MKL_LIB: /opt/cpp_pkgs/lib
      CMAKE_PREFIX_PATH: /opt/cpp_pkg

    steps:
      - uses: actions/checkout@v2

      - name: Install cpp dependencies
        run: |
          brew install ninja
          sudo ${CONDA}/bin/conda create --yes -p /opt/cpp_pkgs -c conda-forge python=3.10 boost-cpp eigen nlohmann_json mkl mkl-devel mkl-include catch2

      - name: Build and test
        run: |
          # environment
          export LD_LIBRARY_PATH=${HOME}/conda_envs/cpp_pkgs/lib:${LD_LIBRARY_PATH}
          # bash
          ./build.sh  ${{ matrix.build-option }} ${{ matrix.sparse-solver }}


  build-and-test-python:
    strategy:
      matrix:
        platform: [ linux, macos, windows ]
        include:
          - platform: linux
            os: ubuntu-latest
            cc: gcc
            cxx: g++
            boost:
            eigen:
            cibw_build: cp*-manylinux_x86_64
          - platform: macos
            os: macos-latest
            cc: clang
            cxx: clang++
            boost: /opt/cpp_pkgs/include
            eigen: /opt/cpp_pkgs/include/eigen3
            cibw_build: cp*-macosx_universal2
          - platform: windows
            os: windows-latest
            cc:
            cxx:
            boost: C:\conda_envs\cpp_pkgs\Library\include
            eigen: C:\conda_envs\cpp_pkgs\Library\include\eigen3
            cibw_build: cp*-win_amd64

    runs-on: ${{ matrix.os }}
    # needs: build-cpp-test-macos

    env:
      CC: ${{ matrix.cc }}
      CXX: ${{ matrix.cxx }}
      BOOST_INCLUDE: ${{ matrix.boost }}
      EIGEN_INCLUDE: ${{ matrix.eigen }}
      CIBW_BUILD: ${{ matrix.cibw_build }}
      CIBW_MANYLINUX_X86_64_IMAGE: ghcr.io/alliander-opensource/power-grid-model-build-env
      CIBW_BEFORE_ALL_MACOS: >
        which clang++ &&
        clang++ --version &&
        sudo ${CONDA}/bin/conda create --yes -p /opt/cpp_pkgs -c conda-forge python=3.10 boost-cpp eigen mkl
      MACOSX_DEPLOYMENT_TARGET: 10.15
      CIBW_BEFORE_ALL_WINDOWS : >
        "$env:CONDA\condabin\conda" init;
        conda create --yes -p C:\conda_envs\cpp_pkgs -c conda-forge python=3.10 boost-cpp eigen mkl

    steps:
      - uses: actions/checkout@v2

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.3.1

      - name: Keep wheel files
        uses: actions/upload-artifact@v2
        with:
          name: wheelhouse
          path: ./wheelhouse/*.whl


  publish-wheels:
    needs: build-and-test-python
    runs-on: ubuntu-latest
    env:
      TWINE_USERNAME: ${{ secrets.PYPI_USER }}
      TWINE_PASSWORD: ${{ secrets.PYPI_PASS }}

    steps:
      - uses: actions/checkout@v2

      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
          architecture: x64

      - uses: actions/download-artifact@v2
        with:
          name: my-wheelhouse
          path: wheelhouse

      - name: List wheels
        run: ls ./wheelhouse/*.whl -ral
